body {
    background-color: #1d3e81;
    color: #E8EFF0;
    text-align: center;
}
img {
    width: 50%;
}
a {
    color: #E8EFF0;
}

a.backButton {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    text-decoration: none;
}

/* Your code here */

@media print {

    body {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    h1 {
        position: absolute;
        color: #E8EFF0;
    }

    img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        z-index: -1;
    }

    p {
      position: absolute;
      bottom: 0;
    }

    .notPrinted {
        display: none;
    }

}